@import "tailwindcss";

@theme {
  --color-background: #181921;
  --color-secondary: #00ffa5;
  --color-cardBg: #1d1e2b;
  --color-Primary: #6d00ff;
  --color-muted: #cac4d0;
  --color-danger: #ee5e52;
  --color-bgMuted: #26273b;
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  src: url("./assets/Poppins/Poppins-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  src: url("./assets/Inter/static/Inter_18pt-Regular.ttf") format("truetype");
}

@theme {
  --font-poppinsRegular: "Poppins";
  --font-interRegular: "Inter";
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.wipe-underline {
  position: relative;
  display: inline-block;
  width: fit-content;
}

.wipe-underline::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: currentColor;
  animation: wipeLine 2s linear infinite;
}
@keyframes wipeLine {
  0% {
    transform: scaleX(1);
    transform-origin: right;
  }

  25% {
    transform: scaleX(0);
    transform-origin: right;
  }

  26% {
    transform-origin: left;
    transform: scaleX(0);
  }

  50% {
    transform: scaleX(1);
    transform-origin: left;
  }

  75% {
    transform: scaleX(0);
    transform-origin: left;
  }

  76% {
    transform-origin: right;
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(1);
    transform-origin: right;
  }
}
