@import "tailwindcss";

@theme {
  --color-background: #181921;
  --color-secondary: #00ffa5;
  --color-cardBg: #1d1e2b;
  --color-Primary: #6d00ff;
  --color-muted: #cac4d0;
  --color-danger: #ee5e52;
  --color-bgMuted: #26273b;
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  src: url("./assets/Poppins/Poppins-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  src: url("./assets/Inter/static/Inter_18pt-Regular.ttf") format("truetype");
}

@theme {
  --font-poppinsRegular: "Poppins";
  --font-interRegular: "Inter";
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
